english-prior-font = 'Open Sans'

backup-font = Heiti, '黑体', SimSun, '宋体'
windows-font = 'Microsoft YaHei', '微软雅黑'
osx-font = STXihei, '华文细黑'
linux-font = 'Source Han Sans Light', 'WenQuanYi Micro Hei', '文泉驿微米黑'

fonts = english-prior-font, osx-font, linux-font, windows-font, backup-font, sans-serif;
