@import "../_variables/base"
@import "nib/vendor"

h1.home {
  font-size 10vh
}

h2.home {
  font-size 4vh
}

main.home {
  div.header {
    margin-top 20vh
    text-align center
  }

  div.main {
    margin-top 15vh
    text-align center

    .subheader {
      font-size 0.9em
      color darken(home-fg-second, 65)
    }
  }
}