@import "../_variables/base"
@import "../_variables/colors"
@import "nib/vendor"


main.keeper {
  div.search-padding {
    padding-top 4vh
  }

  form.search-section {
    margin auto
    max-width content_max_width
  }

  div.center-flex-panel{
    height 82vh
  }

  div.scroll-panel {
    margin-top -6vh
    height 72vh
  }

  .password-list {
    padding-top 10px
    padding-bottom 10px
    border-radius 5px
    margin-bottom 8px

    background-color rgba(whitesmoke 0.3)
    border none
    color home-fg
  }

  .selected {
    background-color rgba(black 0.3)
    color home-fg-second
  }
}