main.signup {
  div.signup-padding{
    margin-top 4vh
  }

  div.tip-area{
    margin-top 1vm

    h2 {
      font-size 3vm
    }

    p {
      font-size 1vm
      text-align center
    }
  }

  div.center-flex-panel{
    height 76vh
  }

  div.scroll-panel {
    margin-top -5vh
    max-height 66vh
  }
}