@import "../_variables/colors"
@import "../_variables/base"
@import "nib/vendor"


main.user, main.preference {
  .delete-section {
    margin-top phone_margin_width
  }

  div.center-flex-panel{
    height 100%
  }

  div.scroll-panel {
    max-height 82vh
  }
}
